In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/sample_data/w3schools.csv")
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyota        Aygo     1.0     790   99
1  Mitsubishi  Space Star     1.2    1160   95
2       Skoda      Citigo     1.0     929   95
3        Fiat         500     0.9     865   90
4        Mini      Cooper     1.5    1140  105

In [ ]:
x=df.iloc[:,:-2]
x.head()

          Car       Model  Volume
0      Toyota        Aygo     1.0
1  Mitsubishi  Space Star     1.2
2       Skoda      Citigo     1.0
3        Fiat         500     0.9
4        Mini      Cooper     1.5

In [ ]:
y=df.iloc[:,-1]
y.head()

0     99
1     95
2     95
3     90
4    105
Name: CO2, dtype: int64

In [ ]:
df1=pd.DataFrame({'A':[1,2,None,5],'B':[5,None,8,None]})

In [ ]:
df1

     A    B
0  1.0  5.0
1  2.0  NaN
2  NaN  8.0
3  5.0  NaN

In [ ]:
df1.dropna(axis=0,inplace=True)
df1

     A    B
0  1.0  5.0

In [ ]:
df1.fillna(df1.mean(),inplace=True)
df1

          A    B
0  1.000000  5.0
1  2.000000  6.5
2  2.666667  8.0
3  5.000000  6.5

In [ ]:
df1

          A    B
0  1.000000  5.0
1  2.000000  6.5
2  2.666667  8.0
3  5.000000  6.5